@{
    ViewBag.Title = "Home Page";
}

<!-- slider-area-start -->
<div class="slider__container">
    <div class="slider-active owl-carousel">
        <div class="slider-wrapper slider-style-three d-flex align-items-center bg-opacity-2"
             style="background-image:url(../images/slider/cor-hero-slider.png)">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-content-covid slider-text-animation">
                            <h4 class="text-white">COVID - <span>19</span></h4>
                            <h1 class="text-white">Be Strong</h1>
                            <h3 class="text-white">Stay Home Stay Save</h3>
                            <p class="text-white">
                                There are many variations of passages of Lorem Ipsum
                                available, but the majority have suffered alteration in some form, by injected
                                Duskam is humour
                            </p>
                            <a href="about-us.html" class="covid-hero-btn">
                                About Prevention <span>
                                    <img src="../images/icons/coro-hero-arrow.png" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->
<!-- Start Virus Outbreak Area -->
<section class="virus-outbreak__area ptb--100 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-12 ms-auto me-auto ">
                <div class="section_title--3 pb--60 text-center">
                    <h2>Coronavirus Outbreak</h2>
                    <p class="text-black">
                        There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some form, by injected Duskam is humour
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-12 ms-auto me-auto ">
                <div class="section_title--2 pb--60 text-center">
                    <h3 class="title-detault mb--10">
                        Total Coronavirus Cases: <span class="color-three">1518045</span>
                    </h3>
                    <h4>
                        Recovered: <span class="color-four">35147 </span> Deaths: <span class="color-five">
                            70201
                        </span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="outbreak-map">
                    <img src="images/others/map-coro.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Virus Outbreak Area -->
<!-- Start Virus Outbreak Area -->
<section class="virus-outbreak__area pb--100 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-12 ms-auto me-auto ">
                <div class="section_title--3 pb--30 text-center">
                    <h2>Coronavirus Syptoms</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected Duskam is humour
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-wrap text-center">
                    <div class="service-icon">
                        <img src="../images/icons/cor-service-icon-01.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Strong Headacke</h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected Duskam is humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-wrap text-center">
                    <div class="service-icon">
                        <img src="../images/icons/cor-service-icon-02.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Cough & Sick</h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected Duskam is humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-wrap text-center">
                    <div class="service-icon">
                        <img src="../images/icons/cor-service-icon-03.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Sore Throat</h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected Duskam is humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-wrap text-center">
                    <div class="service-icon">
                        <img src="../images/icons/cor-service-icon-04.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Hot Feaver</h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected Duskam is humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-wrap text-center">
                    <div class="service-icon">
                        <img src="../images/icons/cor-service-icon-05.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Shortness Of breath</h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected Duskam is humour
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-wrap text-center">
                    <div class="service-icon">
                        <img src="../images/icons/cor-service-icon-06.png" alt="">
                    </div>
                    <div class="service-content">
                        <h5>Muscle Pain</h5>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected Duskam is humour
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Virus Outbreak Area -->
<!-- Start Prevention Area -->
<section class="prevention__area ptb--100 bg__white prevention__bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-12 ms-auto me-auto ">
                <div class="section_title--2 pb--60 text-center">
                    <h2 class="text-white">Prevention Of Coronavirus</h2>
                    <p class="text-white">
                        There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some form, by injected Duskam is humour
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="../images/about/cor-about.png" alt="">
            </div>
            <div class="col-lg-6">
                <div class="prevention-list-wrap">
                    <ul class="prevention-list">
                        <li>
                            <h5 class="text-white">Stay at Home</h5>
                            <p class="text-white">
                                Many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form
                            </p>
                        </li>
                        <li>
                            <h5 class="text-white">Wear a Mask</h5>
                            <p class="text-white">
                                Many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form
                            </p>
                        </li>
                        <li>
                            <h5 class="text-white">Wash Your Hand</h5>
                            <p class="text-white">
                                Many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form
                            </p>
                        </li>
                        <li>
                            <h5 class="text-white">Well Done Cooking</h5>
                            <p class="text-white">
                                Many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Prevention Area -->    